<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MyStudyMapper">

    <select id="getMyStudyRoom" resultType="domain.MentorRoom">
        select * from mentorRoom where user_id = #{mentor_id}
    </select>

    <insert id="uploadHomeWork">
        insert into hwInfo (hwName, hwContent, writer, hwRegDate, hwDeadLine, CompleteMentee)
        values(#{hwName}, #{hwContent}, #{writer}, SYSDATE, #{hwDeadLine}, 0)
    </insert>

    <select id="getHomeWork"  resultType="domain.HomeWorkInfo">
        select * from hwInfo
    </select>

</mapper>